<% 
  if flash[:warning] 
    clase = "alert alert-warning"
    mensaje = flash[:warning]
  elsif flash[:error]
    clase = "alert alert-error"
    mensaje = flash[:error]
  elsif flash[:info]
    clase = "alert alert-info"
    mensaje = flash[:info]
  elsif flash[:success]
    clase = "alert alert-success"
    mensaje = flash[:success]
  elsif notice
    clase = "alert alert-warning"
    mensaje = notice
  elsif alert
    clase = "alert alert-error"
    mensaje = alert
  else
    clase = "hide"
    mensaje= ""
  end 
%>
<div id="mensaje-ttp" class="<%= clase %>"> 
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= mensaje.html_safe %>
</div>
