    <footer id="piedepagina">
      <div class="container">
        <div id="pie" class="span24">
          <div class="container offset1 span21" style="height:100%;">
            <div id="mapa-sitio">
              <div>
                <h3 class="sobre-color">Sitio</h3>
                <ul class="doble">
                  <li>Inicio</li>
                  <li>Registro</li>
                  <li>Proveedores</li>
                  <li>Trabajos</li>
                  <li>Contacto</li>
                </ul>
              </div>
            </div>
            <div id="logo-pie" class="offset2 span6 hidden-phone"></div>
          </div>
          <ul id="botones-sociales">
            <li id="facebook"><span>TenTuPresupuesto en Facebook</span></li>
            <li id="google"><span>TenTuPresupuesto en Google+</span></li>
            <li id="twitter"><span>@TnTuPresupuesto</span></li>
            <li id="youtube"><span>Videos de TenTuPresupuesto</span></li>
          </ul>
        </div>
      </div>
    </footer>