    <footer id="piedepagina">
      <div class="container">
        <div id="pie" class="span24">
          <div class="container offset1 span21" style="height:100%;">
            <div id="mapa-sitio">
              <div>
                <h3 class="sobre-color">Sitio</h3>
                <ul class="doble">
                  <li><%= link_to "Inicio", root_path %></li>
                <% if solicitante_signed_in? %>
                  <li><%= link_to 'Panel', panel_solicitante_path %></li>
                <% elsif proveedor_signed_in? %>
                  <li><%= link_to 'Panel', panel_proveedor_path %></li>
                <% else %>
                  <li><%= link_to "Registro", new_registration_path("solicitante") %></li>
                <% end %>
                  <li>Proveedores</li>
                  <li>Trabajos</li>
                  <li>Contacto</li>
                </ul>
              </div>
            </div>
            <div id="logo-pie" class="offset2 span6 hidden-phone"></div>
          </div>
          <ul id="botones-sociales">
            <li id="facebook"><a href="http://www.facebook.com/TenTuPresupuesto" title="TenTuPresupuesto en Facebook"><span>TenTuPresupuesto en Facebook</span></a></li>
            <li id="google"><a href="http://plus.google.com/u/0/b/110823009356675456247" title="TenTuPresupuesto en Google+"><span>TenTuPresupuesto en Google+</span></a></li>
            <li id="twitter"><a href="http://twitter.com/TnTuPresupuesto" title="TenTuPresupuesto en Twitter"><span>@TnTuPresupuesto</span></a></li>
            <li id="youtube"><a href="http://www.youtube.com/user/TenTuPresupuesto" title="TenTuPresupuesto en YouTube"><span>Videos de TenTuPresupuesto</span></a></li>
          </ul>
        </div>
      </div>
    </footer>