	<h1>¡Hubo un error!</h1>
	<p>La página que buscas (<%= @not_found_path %>) no existe o no es correcta.</p>
	<p><%= link_to "Cuéntanos del error", "https://docs.google.com/forms/d/1RzBhILlcjBDTWt5ZACnaeAHCbbmmmJER3Fbb92NlqL4/viewform", :target => "_blank", :class => "btn btn-success btn-large" %></p>
	<p>o</p>
	<p><%= link_to "Vuelve al inicio", root_path, :class => "btn btn-info btn-large" %></p>
