<%- model_class = Proveedor -%>
<% 
content_for :head do
  stylesheet_link_tag 'proveedores'
end

content_for :foot do
  javascript_include_tag 'ubicaciones_geograficas', 'proveedores'
end

content_for :title do
  "Crear perfil de proveedor"
end
%>
<script type="text/javascript">var _editando = false;</script>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Perfil de #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
