<% 
  content_for :title do 
    "Desbloqueo de cuenta"
  end

  if resource.errors.any? %>
  <div class="alert alert-error">
    Algo pas&oacute;. Revisa el formulario para verificar errores.
  </div>
<% end %>
<h2>Instrucciones de desbloqueo de cuenta</h2>

<p>Un correo te ha sido enviado con instrucciones para desbloquear la cuenta. Por favor, sigue las instrucciones que all&iacute; te indicamos.</p>
<p>Si no recibiste el mensaje ingresa la direcci&oacute;n de correo electr&oacute;nico con la que te registraste y lo enviaremos de nuevo.</p>
<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.input :email %>

  <div class="form-actions botones">
    <p><%= f.submit "Enviar instrucciones", :class => 'btn btn-primary' %></p>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
