<%
  content_for :title do
    "Han rechazado tu presupuesto"
  end
%>

<p>El presupuesto que presentaste a la solicitud <b><%= @trabajo %></b> de <%= @categoria %>, fue rechazado.</p>
<p>El motivo del rechazo fue: <%= @motivo) %></p>

<p>¡Lo sentimos mucho! <br>Te inivtamos a revisar el motivo del rechazo y a buscar nuevas oportunidades en el <%= link_to 'listado de solicitudes', trabajos_url %>.</p>