<%
  content_for :title do
    "¡Has marcado tu trabajo como finalizado!"
  end
%>

<p>El trabajo <b><%= @trabajo %></b> de <%= @categoria %>, fue marcado como finalizado por el solicitante.</p>
<p><b>¡Felicitaciones!</b><br> Ahora queda esperar la calificación que dé el solicitante por el servicio que prestaste.</p>
