<%
  content_for :title do
    "¡Ha finalizado el trabajo que solicitaste!"
  end
%>

<p><i><%= @proveedor %></i> ha marcado como finalizado el trabajo de <%= @categoria %> <b><%= @trabajo %></b> que solicitaste.</p>
<p>
    Ahora es necesario que ingreses a <%= link_to "TenTupresupuesto", root_url() %> y evalúes al proveedor.<br>
    <b>¡Gracias por contribuir con la comunidad de TenTuPresupuesto!</b><br>
    Te esperamos de vuelta pronto.
</p>
