<div id="pendon-solicita" class="pendon">
  <div class="contenido-pendon">
    <div class="imagen">
      <%= image_tag "tentu/landing/paso1.png", {:title => "Paso 1", :alt => "Paso 1"} %>
    </div>
    <h2>Solicita</h2>
    <p>Envía a los proveedores tu solicitud del trabajo que necesitas para tu hogar u oficina, de forma rápida y eficiente.</p>
  </div>
</div>
<div id="pendon-compara" class="pendon">
  <div class="contenido-pendon">
    <div class="imagen">
      <%= image_tag "tentu/landing/paso2.png", {:title => "Paso 2", :alt => "Paso 2"} %>
    </div>
    <h2>Compara</h2>
    <p>Recibe presupuestos de los proveedores, revisa sus trayectorias, y compara lo que te ofrecen.</p>
  </div>
</div>
<div id="pendon-contrata" class="pendon">
  <div class="contenido-pendon">
    <div class="imagen">
      <%= image_tag "tentu/landing/paso3.png", {:title => "Paso 3", :alt => "Paso 3"} %>
    </div>
    <h2>Contrata</h2>
    <p>Escoge al proveedor que te ofrezca el mejor servicio al mejor precio.</p>
  </div>
</div>
