<h1 class="page-header">Términos y Condiciones de Uso</h1>

<h2>Términos y Condiciones de uso de la página</h2>

<p>Estos Términos y Condiciones de Uso regulan el uso de todos los servicios ofrecidos <span class="hide">por Inversiones Gomez y Valor C.A. (En lo sucesivo "TenTuPresupuesto.com.ve") en los portales de internet o</span> en el sitio web TenTuPresupuesto.com.ve.</p>
<p>Los servicios prestados en la página web consistirán en la publicación de información (nombre, domicilio, descripción y datos de contacto) de diferentes proveedores de servicios solicitados por los usuarios de la página (en adelante “Los proveedores”) varios a los fines de que los usuarios (quienes se consideran requirentes de un servicio en particular) puedan acceder a dicha información y contactar de manera personal o de cualquier otro tipo (el contacto podrá ser telefónico, a través de correos electrónicos o cualquier otro que las partes consideren convenientes para el desarrollo de la relación de servicios) y bajo su propio riesgo a dichos proveedores. </p>
<p>Estos servicios en adelante se denominarán el "Servicio". El uso del Servicio por parte de los usuarios de la página constituye su aceptación y acuerdo con todos los términos y condiciones aquí regulados, en consecuencia, el Usuario debe leer atentamente estos Términos y Condiciones de Uso en cada una de las ocasiones en que se proponga acceder o hacer uso de los recursos puestos a su disposición en el portal de Internet TenTuPresupuesto.com.ve. Ya que dicha condición de Usuario implica la aceptación y adhesión, plena y sin reservas, a todos y cada uno de los términos, en la versión publicada en el portal de Internet TenTuPresupuesto.com.ve al momento mismo en que el Usuario acceda a los servicios prestados en la página web.</p>

<h2>Suscripción y contraseña</h2>

<p>La prestación de los Servicios tiene carácter gratuito para los Usuarios. La utilización de algunos Servicios, exige la previa suscripción o registro del Usuario.</p>
<p>A los fines de suscribirse y por ende de utilizar los servicios ofrecidos por TenTuPresupuesto.com.ve, el Usuario deberá introducir una clave o contraseña, el cual le dará acceso a su cuenta. En este sentido, el Usuario es la única persona autorizada para entrar en esa cuenta y es totalmente responsable de todas aquellas actividades realizadas desde su cuenta personal o por el uso de la contraseña ingresada. La confidencialidad de la contraseña es responsabilidad del Usuario. </p>
<p>Adicionalmente, el Usuario deberá proporcionar su número telefónico y correo electrónico a los fines de completar la suscripción. En este sentido, el Usuario autoriza TenTuPresupuesto.com.ve a hacer uso de dichos datos para fines promocionales o de mejoras de servicio. </p>
<p>En este sentido, TenTuPresupuesto.com.ve usa información personal para los siguientes propósitos generales:</p>
<ul>
    <li>Para ofrecer nuestros productos y el Servicio,</li>
    <li>Para la prevención de facturación, identificación y autenticación, y el fraude,</li>
    <li>Para analizar el uso del sitio y mejorar nuestros productos y el Servicio,</li>
    <li>Para mantener un contacto con usted y entregar notificaciones administrativas y comunicaciones relevantes a su uso de nuestros productos y servicios,</li>
    <li>Para estudios de mercado interno, solución de problemas, y la detección y protección contra errores, fraude u otra actividad criminal,</li>
    <li>Hacer cumplir nuestros Términos de Servicio</li>
</ul>

<h2>Del uso del portal</h2>

<p>El Usuario se compromete a utilizar el Portal, así como el Servicio, conforme a la ley, con lo dispuesto en estos Términos y Condiciones de Uso, la moral y buenas costumbres generalmente aceptadas y el orden público, y se obliga a abstenerse de utilizar el Portal y el Servicio con fines o efectos ilícitos, contrarios a lo establecido en los presentes Términos y Condiciones de Uso, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar los mismos o impedir su normal utilización o disfrute por parte de los Usuarios.</p>
<p>En especial, el Usuario se obliga a:</p>
<ul>
    <li>No falsear su identidad.</li>
    <li>No acechar, acosar o de algún modo hostigar a cualesquiera terceros, a no almacenar información personal sobre otros Usuarios del Portal o de la referida página de Internet, sin cumplir con la legislación vigente en materia de protección de datos, así como a no poner a disposición de terceros, con cualquier finalidad, datos captados a partir de listas de distribución.</li>
    <li>Asimismo, el Usuario se obliga a abstenerse de utilizar los Contenidos o Servicios de cualquier forma que pueda dañar, inutilizar, sobrecargar o deteriorar el Portal, o impedir su normal utilización o el disfrute de los mismos, de los Contenidos y de los Servicios por parte de los Usuarios. </li>
</ul>
<p>El Usuario reconoce y acepta que la utilización del portal de internet TenTuPresupuesto.com.ve será efectuada con fines estrictamente personales, privados y particulares o corporativos, según sea el caso. Asimismo, queda expresamente prohibido el uso o aplicación de cualesquiera recursos técnicos, lógicos o tecnológicos en cuya virtud los Usuarios puedan beneficiarse, directa o indirectamente, con o sin lucro, de la explotación no autorizada del Servicio prestado en la página Web TenTuPresupuesto.com.ve.</p>
<p>El Usuario es consciente de y acepta voluntariamente que el uso de la página web TenTuPresupuesto.com.ve, del Servicio y de cualesquiera contenidos tiene lugar, en todo caso, bajo su única y exclusiva responsabilidad. </p>
<p>TenTuPresupuesto.com.ve, al ser un portal web dirigido a la publicación de ciertos servicios de publicidad de proveedores, no se hace responsable por la calidad, puntualidad, costo o cualquier otro factor que pueda estar relacionado con relación contractual entre los usuarios y los proveedores. Adicionalmente, el servicio prestado en el portal TenTuPresupuesto.com.ve es única y exclusivamente una plataforma para conectar a aquellas personas necesitadas de un servicio específico y un proveedor que pueda ofrecerlo, ya que TenTuPresupuesto.com.ve no se involucra directamente en la relación legal y de servicio entre el proveedor y el usuario del mismo, por lo tanto, en el caso de que tanto proveedores como usuarios tengan alguna disputa con uno o más usuarios, los usuarios liberan expresamente a TenTuPresupuesto.com.ve, así como a sus funcionarios, directores, agentes, inversores , filiales y empleados de cualquier reclamo, demanda o daños y perjuicios de cualquier tipo y naturaleza, conocidos y desconocidos, sospechados e insospechados, revelados y no revelados, que surjan de dichos conflictos.</p>
<p>Según lo expuesto anteriormente, se entiende que TenTuPresupuesto.com.ve, no tendrá relación con los precios, calidad, resultado, responsabilidad, pago o cualquier otro elemento causa de la relación legal entre los Usuarios y los Proveedores, y por lo tanto queda exento de cualquier tipo de responsabilidad que pueda derivar del incumplimiento de las condiciones pactadas entre las partes. </p>

<h2>Áreas Públicas</h2>

<p>El Servicio prestado portal TenTuPresupuesto.com.ve puede contener perfiles, sistemas de correo electrónico, blogs, foros de mensajes, solicitudes, ofertas de trabajo, áreas de Chat, grupos de noticias, foros, comunidades, anuncios publicitarios y/u otras facilidades de mensajes o comunicación ("Áreas Públicas") que permitirán a los Usuarios y Proveedores comunicarse entre ellos. En este sentido, los Usuarios se comprometen a únicamente publicar contenidos relacionados y relevantes para el Servicio que se presta en el portal. Se entiende que sólo podrán compartir contenidos aquellos Usuarios y Proveedores suscritos previamente en la página. Los Usuarios y Proveedores tendrán prohibido utilizar las áreas públicas para los siguientes fines:</p>
<ul>
    <li>Difamar, abusar, acosar, acechar, amenazar o de alguna forma violar los derechos legales (tales como, pero no limitado a, los derechos de privacidad y publicidad) de otros.</li>
    <li>Publicar, anunciar, cargar, distribuir o divulgar cualquier profano, difamatorio, ilegal, obsceno o ilegal tema, nombre, material o información.</li>
    <li>Utilizar el Servicio para cualquier propósito, incluyendo, pero no limitado a publicar o completar una tarea, en violación de la ley local, estatal, nacional o internacional.</li>
    <li>Subir archivos que contengan software u otro material que viole los derechos de propiedad intelectual (o derechos de privacidad o publicidad) de terceros.</li>
    <li>Cargar archivos que contengan virus, troyanos, archivos dañados, o cualquier otro software similar que pueda perjudicar el funcionamiento de los ordenadores de otros.</li>
    <li>Anunciar u ofrecer la venta de cualquier bien o servicio para cualquier fin comercial a través del Servicio que no son pertinentes a los servicios ofrecidos a través del Servicio.</li>
    <li>Realizar o enviar encuestas, concursos, esquemas piramidales o cadenas.</li>
    <li>Hacerse pasar por otra persona o permitir que cualquier otra persona o entidad utilice su identificación para publicar o ver los comentarios.</li>
    <li>Restringir o inhibir a cualquier otro usuario de usar y disfrutar de las zonas comunes.</li>
    <li>Carga de contenido que es ofensivo y / o perjudicial, incluyendo, pero no limitado a, contenido que defensores, endosa, condona o promueva el racismo, la intolerancia, el odio o el daño físico de cualquier tipo contra cualquier individuo o grupo de individuos.</li>
    <li>Carga de contenido que proporciona los materiales o el acceso a los materiales que se aprovechan de las personas menores de 18 años en forma abusiva, violenta o sexual.</li>
</ul>

<h2>Datos de Carácter Personal.</h2>

<p>Para acceder a y/o utilizar el Servicio es necesario que los Usuarios y los Proveedores proporcionen previamente ciertos datos de carácter personal. Así, al completar y enviar cualquier formulario con datos personales, el Usuario y los Proveedores autorizan expresamente a TenTuPresupuesto.com.ve al uso de dichos datos personales en los términos contenidos en estos Términos y Condiciones.</p>

<h2>Exclusión de Garantías y Responsabilidad</h2>

<p>TenTuPresupuesto.com.ve no controla con carácter previo y no garantiza la ausencia de virus en los Contenidos, ni la ausencia de otros elementos en los Contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático. TenTuPresupuesto.com.ve excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la presencia de virus o a la presencia de otros elementos lesivos en los contenidos. </p>
<p>TenTuPresupuesto.com.ve no garantiza la licitud, fiabilidad y utilidad de los Contenidos y por tanto, excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos, y en particular, aunque no de modo exclusivo, por los daños y perjuicios que puedan deberse a </p>
<ul>
    <li>El incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o el orden público como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos; </li>
    <li>La infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos; </li>
    <li>La realización de actos de competencia desleal y publicidad ilícita como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos; </li>
    <li>La falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos; </li>
    <li>La inadecuación para cualquier clase de propósito de y la defraudación de las expectativas generadas por los contenidos; </li>
    <li>El incumplimiento, retraso en el cumplimiento, cumplimiento defectuoso o terminación por cualquier causa de las obligaciones contraídas por terceros y contratos realizados con terceros a través de o con motivo del acceso a los contenidos; </li>
</ul>

<h2>Menores de Edad</h2>

<p>Los menores de edad siempre deben solicitar y obtener el permiso de sus padres, tutor o representante legal antes de poder acceder a la página Web los TenTuPresupuesto.com.ve. Queda entendido que desde el momento en que un menor de edad accede al Portal, cuenta con el permiso de sus representantes.  </p>
<p>Los Contenidos y el Servicio que se incorporan en la Página Web TenTuPresupuesto.com.ve están dirigidos a una audiencia diversa y por consiguiente, pueden existir determinadas áreas o secciones del mismo que pudieran incorporar Contenidos o Servicios no apropiados o prohibidos a los menores de edad.  El acceso a dichas áreas quedará expresamente prohibido a los menores de 18 años.  Será de la exclusiva responsabilidad de los representantes de los menores de edad, determinar qué Contenidos o Servicios son o no apropiados para los mismos. </p>

<h2>Terminación</h2>

<p>La prestación del servicio en el portal de internet TenTuPresupuesto.com.ve tiene una duración indefinida. Por lo tanto TenTuPresupuesto.com.ve, no obstante, estará facultada para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y previo aviso, la prestación del servicio del Portal.</p>
<p>Sin limitación, TenTuPresupuesto.com.ve puede terminar o suspender su derecho a utilizar el Servicio si usted viola cualquiera de los términos de este Acuerdo o cualquier política de TenTuPresupuesto.com.ve publicado a través del Servicio de vez en cuando, o si de lo contrario TenTuPresupuesto.com.ve encuentra que usted tiene involucrado en un comportamiento inapropiado y / u ofensivo. </p>

<h2>Empleo y Retención</h2>

<p>El Servicio no es un servicio de empleo y no sirve como empleador de cualquier usuario. Por lo tanto, se entiende que de ninguna manera TenTuPresupuesto.com.ve mantienen una relación laboral ni con los Usuarios ni con los Proveedores, y por lo tanto no está obligado a cumplir ninguna de las disposiciones legales laborales establecidas en el ordenamiento jurídico venezolano. Adicionalmente, TenTuPresupuesto.com.ve no será responsable de ningún tipo de impuesto o retención, incluyendo pero no limitado al seguro de desempleo, la responsabilidad del empleador, la seguridad social o impuestos de nómina retención en relación con el uso de los servicios de los Usuarios o de los Proveedores. </p>

<h2>Promociones</h2>

<p>TenTuPresupuesto.com.ve podrá realizar cualquier tipo de promociones o concursos a los fines de ofertar diferentes servicios o productos en un momento determinado. En este sentido, dichas promociones se regirán únicamente por las disposiciones legales establecidas en la Ley para la Defensa de las Personas en el Acceso a los Bienes y Servicios. Dichas promociones podrán aparecer o desaparecer de la página a la discrecionalidad de TenTuPresupuesto.com.ve sin que esto acarree ninguna responsabilidad adicional a las establecidas en estos Términos y Condiciones. </p>

<p>POR LA PRESENTE RECONOZCO QUE HE LEIDO Y ENTENDIDO LAS CONDICIONES ANTERIORES DE SERVICIO Y LA POLÍTICA DE PRIVACIDAD Y ACEPTA QUE MI USO DEL SERVICIO ES UN RECONOCIMIENTO DE MI ACEPTACIÓN DE LOS TÉRMINOS Y CONDICIONES DE ESTE ACUERDO.</p>