
                        <div id="publicidad-cabecera-interna" class="span12 clearfix">
<%
=begin
                            <script type="text/javascript"><!--
                                google_ad_client = "ca-pub-0382949075530690";
                                width = document.documentElement.clientWidth;
                                if (width > 980) {
                                    /* TTP - Cabecera 468x60 */
                                    google_ad_slot = "8606004841";
                                    google_ad_width = 468;
                                    google_ad_height = 60;
                                }
                                //-->
                            </script>
                            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
=end 
%>
                            <!-- TTP_Cabecera_468x60 -->
                            <div id='div-gpt-ad-1382928704713-0' style='width:468px; height:60px; margin:0 auto;'>
                            <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1382928704713-0'); });</script>
                            </div>
                        </div>