                        <div id="publicidad-cuerpo-inferior" class="row">
                            <script type="text/javascript"><!--
                                google_ad_client = "ca-pub-0382949075530690";
                                width = document.documentElement.clientWidth;
                                if (width > 760) {
                                    /* TTP - Cuerpo 728x90 */
                                    google_ad_slot = "9310682049";
                                    google_ad_width = 728;
                                    google_ad_height = 90;
                                } else if(width > 468) {
                                    /* TTP - Cuerpo inferior (tablet) 468x60 */
                                    google_ad_slot = "3264148440";
                                    google_ad_width = 468;
                                    google_ad_height = 60;
                                } else {
                                    /* TTP - Cuerpo inferior (móvil) 320x50 */
                                    google_ad_slot = "4740881642";
                                    google_ad_width = 320;
                                    google_ad_height = 50;
                                }
                                //-->
                            </script>
                            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                        </div>