
    <div id="publicidad-menu-lateral">
        <script type="text/javascript">
            <!--
            google_ad_client = "ca-pub-0382949075530690";
            width = document.documentElement.clientWidth;
            
            if (width > 1200) {
                /* TTP - Menu lateral 250x250 
                google_ad_slot = "3735153244";
                google_ad_width = 250;
                google_ad_height = 250;*/
                document.write("<!-- TTP_Menu_lateral_250x250 -->");
                document.write("<div id='div-gpt-ad-1382930481425-0' style='width:250px; height:250px; margin:0 auto;'>");
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1382930481425-0'); });
                document.write("</div>");
            }
            else if (width > 980) {
                /* TTP - Menu lateral 200x200 
                google_ad_slot = "2118819240";
                google_ad_width = 200;
                google_ad_height = 200;*/
                document.write("<!-- TTP_Menu_lateral_200x200 -->");
                document.write("<div id='div-gpt-ad-1382931957873-0' style='width:200px; height:200px; margin:0 auto;'>");
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1382931957873-0'); });
                document.write("</div>");
            }
            else if (width > 728) {
                /* TTP - Menu lateral 180x150 
                google_ad_slot = "1082738047";
                google_ad_width = 180;
                google_ad_height = 150;*/
                document.write("<!-- TTP_Menu_lateral_180x150 -->");
                document.write("<div id='div-gpt-ad-1382933013732-0' style='width:180px; height:150px; margin:0 auto;'>");
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1382933013732-0'); });
                document.write("</div>");
            }
            else if (width > 340) {
                /* TTP - Menu lateral (tablet) 336x280
                google_ad_slot = "3617402043";
                google_ad_width = 336;
                google_ad_height = 280; */
                document.write("<!-- TTP_Menu_lateral_tablet_336x280 -->");
                document.write("<div id='div-gpt-ad-1382933316853-0' style='width:336px; height:280px; margin:0 auto;'>");
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1382933316853-0'); });
                document.write("</div>");
            }
            else {
                /* TTP - Menu lateral (movil) 300x250 
                google_ad_slot = "6570868444";
                google_ad_width = 300;
                google_ad_height = 250;*/
                document.write("<!-- TTP_Menu_lateral_movil_300x250 -->");
                document.write("<div id='div-gpt-ad-1382933626364-0' style='width:300px; height:250px; margin:0 auto;'>");
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1382933626364-0'); });
                document.write("</div>");
            }
            //-->
        </script>
        <!-- <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> </script> -->
    </div>