<%= form_for(entidad) do |f| %>
  <% for cat in Categoria.find(:all) %>  
      <label>  
        <%= check_box_tag :categoria_ids,  
                    cat.id,  
                    entidad.categorias.include?(cat),  
                    :name => entidad.class.name.downcase+'[categoria_ids][]' %>   
        <%= cat.nombre %>  
      </label>  
  <% end %>
  <div class="form-actions">
    <p><%= f.submit "Actualizar", :class => 'btn btn-primary' %></p>
  </div>
<% end %>
