<div id="caracteristicas" class="offset1 span8">
    <h2>La solicitud</h2>
    <br>
    <p class="titulo">
        Categoría:
    </p>
    <p class="texto">
        <%= trabajo.categoria.nombre %>
    </p>
    <p class="titulo">
        Solicitud:
    </p>
    <p class="texto">
        <%= trabajo.proposito %>
    </p>
    <p class="titulo">
        Descripción:
    </p>
    <pre class="texto"><%= trabajo.descripcion %></pre>
</div>