<%= simple_form_for @trabajo, :url => finalizar_trabajo_path(@trabajo, :format => 'json'), :method => 'put', :remote => true, :html => {:id => "finalizacion-trabajo"} do |f| %>
    <div id="modal-finalizado" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">Finalizar trabajo</h3>
        </div>
        <div class="modal-body">
            <p>
                Estás a punto de marcar que el trabajo para el que fuiste contratado ha sido finalizado.<br>
                Por favor indícanos el precio final que tuvo el trabajo, <br>
                para que podamos solicitarle a tu cliente que proceda a evaluar tu trabajo.
            </p>
            <%= f.input :precio_final, :min => 5, :required => true, :label => false, :as => :string %>
            <p>Esta información tiene fines estadísticos y de control. En ningún momento se hará pública.</p>
        </div>
        <div class="modal-footer">
            <%= image_tag "tentu/generales/cargando.gif", {:class => "cargando cargando24", :id => "loading-trabajo"} %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <%= f.submit "Finalizar trabajo", :id => 'finalizar-trabajo-modal', :class => 'btn btn-warning' %>
        </div>
    </div>
<% end %>
