<div class=" clearfix"></div>
<div class="formulario-general">
    <%= simple_form_for [@presupuesto, @mensaje] do |f| %>
        <%= f.input :comentario, :as => :text, :input_html => {:class => 'text_field' } %>
        <%= f.hidden_field :usuario, :value => @tipo_usuario %>
    
        <div class="botones">
            <%= f.submit nil, :class => 'btn btn-warning' %>
        </div>
    <% end %>
</div>
