/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require base_ttp
 *= require_self
 */
#cabecera { background-color:white; height:160px; max-width:1060px; }
#cabecera .navbar { background: url('tentu/generales/head.png') no-repeat center top; height:170px; position:relative; top:-19px; }
#cabecera .navbar .brand { margin:0px; padding:0px; margin-top:1%; }
#cabecera .navbar .brand img { width:100%; }
#cabecera .navbar .enlaces_usuario a { background-color:#4b9112; padding:5px; color:white; text-decoration:none; }

#cuerpo { background-color:white; clear:both; margin: 0px auto; max-width:1060px; overflow:hidden; padding-bottom:25px; }

/* Dejar siempre debajo para sobreescribir en dispositivos */
@media screen and (min-width: 1200px) { 
  #cabecera { margin:30px auto 0px auto; }
  #cuerpo .container { max-width:995px; }
  #cabecera .container, #cuerpo .container, #pie .container { padding:0px 3%; }
}

@media screen and (max-width: 1199px) { 
  #cabecera { margin: 20px auto 0 auto; }
  #cuerpo .container { max-width:940px; }
  #cabecera .container, #cuerpo .container, #pie .container { padding:0 2%; }
}

@media screen and (max-width: 960px) { 
  #cuerpo .container { margin: 20px auto 0 auto; max-width:732px; }
  #cabecera .container, #cuerpo .container, #pie .container { padding:0 1%; }
}

@media screen and ( margin: 20px auto 0 auto;max-width: 768px) { 
  #cuerpo .container { max-width:732px; }
  #cabecera .container, #cuerpo .container, #pie .container { padding:0 5px; } 
}