/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 */
body { background-color:#adeb6e; padding:0; }
h1, h2, h3, h4, h5, h6 { color:#333; font-family:'Chango'; font-weight:normal; margin:0px; }
h1 { font-size:2em; text-align:center; }
h2 { font-size:1.8em; }
h3 { font-size:1.5em; }
h4, h5, h6 { color:#333; font-size:1.25em;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { font-size:1em; margin-bottom:0px; margin-right:5px; max-width:325px; width:100%; }
select { width: auto; }
textarea { height:5em; }
fieldset legend { color:white; font-family:'Chango'; font-size:1.25em; margin-bottom:0.5em; }
label { color:white; font-family:'MyriadPro'; font-weight:bold; line-height:1em; margin-bottom:0px; vertical-align: middle;}
label.checkbox {line-height:2em; margin-bottom:-10px;}

#piedepagina { background: #ddd url('tentu/generales/fondopie.png') repeat-x left top; clear:both; max-height:300px; min-height:225px; width:100%; }
#piedepagina #pie { background: url('tentu/generales/footer.png') no-repeat center top; height:180px; margin:0 auto; max-width:1060px; position:relative; top:-22px; }
#piedepagina #mapa-sitio { position:relative; top:7%; }
#piedepagina #mapa-sitio div { display:inline-table; margin-left:5%; max-width:25%; position:relative; top:0px; }
#piedepagina #mapa-sitio h3 { margin:0px; padding:0px; }
#piedepagina #mapa-sitio ul { list-style:none; margin-left:1em;  overflow:hidden; }
#piedepagina #mapa-sitio ul li { display:inline-table; }
#piedepagina #mapa-sitio ul li a { color:#333; }
#piedepagina #mapa-sitio .doble li  { width:45%;}
#piedepagina #mapa-sitio .triple li  { width:30%; }
#piedepagina #logo-pie { display:none; background: url('tentu/generales/logo_tentupresupuesto_pie.png') no-repeat; height:100%; max-height:91px; max-width:244px; position:relative; top:15%; width:100%; }
#piedepagina ul#botones-sociales { clear:both; height:50px; list-style:none; margin:0px auto; max-width: 225px; }
#piedepagina ul#botones-sociales li { background:url('tentu/generales/botonessociales.png') repeat-x top left; cursor:pointer; display:inline-block; height:48px; margin:1px 2px; width:48px; }
#piedepagina ul#botones-sociales li a { display:block; height:50px; text-decoration:none; width:50px; }
#piedepagina ul#botones-sociales li span { display:none; }
#piedepagina ul#botones-sociales li#youtube { background-position:-0px -0px;}
#piedepagina ul#botones-sociales li#facebook { background-position:-58px -0px;}
#piedepagina ul#botones-sociales li#twitter { background-position:-116px -0px;}
#piedepagina ul#botones-sociales li#blog { background-position:-174px -0px;}
#piedepagina ul#botones-sociales li#google { background-position:-233px -0px;}
#piedepagina ul#botones-sociales li#youtube:hover { background-position:-0px -56px;}
#piedepagina ul#botones-sociales li#facebook:hover { background-position:-58px -56px;}
#piedepagina ul#botones-sociales li#twitter:hover { background-position:-116px -56px;}
#piedepagina ul#botones-sociales li#blog:hover { background-position:-174px -56px;}
#piedepagina ul#botones-sociales li#google:hover { background-position:-233px -56px;}

img.cargando { display:none; width: 16px; height: 16px;}

.al-centro { margin-left:auto; margin-right:auto; }
.centrado { text-align:center; }
.error-campo { color: red; display: inline; }
.informacion-campo { font-size:0.8em; display:inline; }
.sobre-color { color:white; text-shadow:0 2px 5px #333; }
