// Place all the styles related to the Categorias controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cat-g-b { background: url('tentu/generales/categorias-g-blanco.png') no-repeat top left;}
.cat-g-n { background: url('tentu/generales/categorias-g-negro.png') no-repeat top left;}

.cat-m-b { background: url('tentu/generales/categorias-m-blanco.png') no-repeat top left;}
.cat-m-n { background: url('tentu/generales/categorias-m-negro.png') no-repeat top left;}
.cat-m-b img.trasparente, .cat-m-n img.transparente { height:auto; width:100%;}
.cat-m-b, .cat-m-n { float:left; height:75px; width:80px; }
.cat-m-b.aire-acondicionado, .cat-m-n.aire-acondicionado { background-position: 0px 0px; }
.cat-m-b.arquitectura-decoracion, .cat-m-n.arquitectura-decoracion { background-position: -310px 0px; }
.cat-m-b.electronica, .cat-m-n.electronica { background-position: -154px -160px; }
.cat-m-b.carpinteria, .cat-m-n.carpinteria { background-position: -155px 0px; }
.cat-m-b.cerrajeria, .cat-m-n.cerrajeria { background-position: -230px 0px; }
.cat-m-b.tecnologia, .cat-m-n.tecnologia { background-position: -232px -158px; }
.cat-m-b.construccion, .cat-m-n.construccion { background-position: -77px 0px; }
.cat-m-b.electricidad, .cat-m-n.electricidad { background-position: -390px 0px; }
.cat-m-b.electrodomesticos, .cat-m-n.electrodomesticos { background-position: -310px -160px; }
.cat-m-b.fumigacion, .cat-m-n.fumigacion { background-position: -465px 0px; }
.cat-m-b.herreria, .cat-m-n.herreria { background-position: -540px 0px; }
.cat-m-b.impermeabilizacion, .cat-m-n.impermeabilizacion { background-position: 0px -80px; }
.cat-m-b.jardineria, .cat-m-n.jardineria { background-position: -76px -80px; }
.cat-m-b.limpieza, .cat-m-n.limpieza { background-position: -155px -80px; }
.cat-m-b.autos, .cat-m-n.autos { background-position: -620px 0px; }
.cat-m-b.pintura, .cat-m-n.pintura { background-position: -232px -80px; }
.cat-m-b.pisos-topes, .cat-m-n.pisos-topes { background-position: -310px -80px; }
.cat-m-b.plomeria-drenajes, .cat-m-n.plomeria-drenajes { background-position: -388px -80px; }
.cat-m-b.puertas-rejas, .cat-m-n.puertas-rejas { background-position: -460px -80px; }
.cat-m-b.cocinas, .cat-m-n.cocinas { background-position: 4px -162px; }
.cat-m-b.banos, .cat-m-n.banos { background-position: -75px -159px; }
.cat-m-b.tapiceria-cortinas, .cat-m-n.tapiceria-cortinas { background-position: -390px -159px; }
.cat-m-b.techos-toldos, .cat-m-n.techos-toldos { background-position: -544px -80px; }
.cat-m-b.transporte-mudanzas, .cat-m-n.transporte-mudanzas { background-position: -622px -80px; }
.cat-m-b.ventanas-persianas, .cat-m-n.ventanas-persianas { background-position: -463px -159px; }
.cat-m-b.ascensores, .cat-m-n.ascensores { background-position: -542px -159px; }
.cat-m-b.bombeo-tanques, .cat-m-n.bombeo-tanques { background-position: -620px -159px; }

.cat-p-b { background: url('tentu/generales/categorias-p-blanco.png') no-repeat top left;}
.cat-p-n { background: url('tentu/generales/categorias-p-negro.png') no-repeat top left;}
.cat-p-b img.trasparente, .cat-p-n img.transparente { height:auto; width:100%;}
.cat-p-b, .cat-p-n { float:left; height:40px; width:42px; }
.cat-p-b.aire-acondicionado, .cat-p-n.aire-acondicionado { background-position: 2px 2px; }
.cat-p-b.autos, .cat-p-n.autos { background-position: -309px 2px; }
.cat-p-b.carpinteria, .cat-p-n.carpinteria { background-position: -76px 2px; }
.cat-p-b.cerrajeria, .cat-p-n.cerrajeria { background-position: -114px 2px; }
.cat-p-b.tecnologia, .cat-p-n.tecnologia { background-position: -115px -78px; }
.cat-p-b.construccion, .cat-p-n.construccion { background-position: -38px 2px; }
.cat-p-b.arquitectura-decoracion, .cat-p-n.arquitectura-decoracion { background-position: -153px 2px; }
.cat-p-b.electrodomesticos, .cat-p-n.electrodomesticos { background-position: -155px -78px; }
.cat-p-b.electricidad, .cat-p-n.electricidad { background-position: -195px 2px; }
.cat-p-b.electronica, .cat-p-n.electronica { background-position: -75px -78px; }
.cat-p-b.fumigacion, .cat-p-n.fumigacion { background-position: -232px 2px; }
.cat-p-b.herreria, .cat-p-n.herreria { background-position: -269px 2px; }
.cat-p-b.impermeabilizacion, .cat-p-n.impermeabilizacion { background-position: 2px -38px; }
.cat-p-b.jardineria, .cat-p-n.jardineria { background-position: -37px -38px; }
.cat-p-b.limpieza, .cat-p-n.limpieza { background-position: -74px -38px; }
.cat-p-b.pintura, .cat-p-n.pintura { background-position: -115px -38px; }
.cat-p-b.pisos-topes, .cat-p-n.pisos-topes { background-position: -154px -38px; }
.cat-p-b.plomeria-drenajes, .cat-p-n.plomeria-drenajes { background-position: -194px -38px; }
.cat-p-b.puertas-rejas, .cat-p-n.puertas-rejas { background-position: -232px -38px; }
.cat-p-b.cocinas, .cat-p-n.cocinas { background-position: 2px -80px; }
.cat-p-b.banos, .cat-p-n.banos { background-position: -36px -78px; }
.cat-p-b.tapiceria-cortinas, .cat-p-n.tapiceria-cortinas { background-position: -193px -78px; }
.cat-p-b.techos-toldos, .cat-p-n.techos-toldos { background-position: -271px -38px; }
.cat-p-b.transporte-mudanzas, .cat-p-n.transporte-mudanzas { background-position: -310px -38px; }
.cat-p-b.ventanas-persianas, .cat-p-n.ventanas-persianas { background-position: -231px -78px; }
.cat-p-b.ascensores, .cat-p-n.ascensores { background-position: -270px -78px; }
.cat-p-b.bombeo-tanques, .cat-p-n.bombeo-tanques { background-position: -310px -78px; }

div.formulario-general #categorias {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
  -moz-column-gap:40px; /* Firefox */
  -webkit-column-gap:40px; /* Safari and Chrome */
  column-gap:40px;
/*  -moz-column-rule:3px outset #ff00ff; /* Firefox */
/*  -webkit-column-rule:3px outset #ff00ff; /* Safari and Chrome */
/*  column-rule:3px outset #ff00ff; */
}
div.formulario-general #categorias label {margin:0.5em;}

@media screen and (max-width: 767px) { 
  div.formulario-general #categorias {
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
  }
  div.formulario-general #categorias label { margin:0.05em;}
}