// Place all the styles related to the Categorias controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cat-g-b { background: url('tentu/generales/categorias-g-blanco.png') no-repeat top left;}
.cat-g-n { background: url('tentu/generales/categorias-g-negro.png') no-repeat top left;}

.cat-m-b { background: url('tentu/generales/categorias-m-blanco.png') no-repeat top left;}
.cat-m-n { background: url('tentu/generales/categorias-m-negro.png') no-repeat top left;}
.cat-m-b, .cat-m-n { float:left; height:75px; width:80px; }
.cat-m-b.aa, .cat-m-n.aa { background-position: 0px 0px; }
.cat-m-b.deco, .cat-m-n.deco { background-position: -310px 0px; }
.cat-m-b.electro, .cat-m-n.electro { background-position: -154px -160px; }
.cat-m-b.carp, .cat-m-n.carp { background-position: -155px 0px; }
.cat-m-b.cerraj, .cat-m-n.cerraj { background-position: -230px 0px; }
.cat-m-b.comp, .cat-m-n.comp { background-position: -232px -158px; }
.cat-m-b.constru, .cat-m-n.constru { background-position: -77px 0px; }
.cat-m-b.electric, .cat-m-n.electric { background-position: -390px 0px; }
.cat-m-b.elecdom, .cat-m-n.elecdom { background-position: -310px -160px; }
.cat-m-b.fumig, .cat-m-n.fumig { background-position: -465px 0px; }
.cat-m-b.herrer, .cat-m-n.herrer { background-position: -540px 0px; }
.cat-m-b.impermeab, .cat-m-n.impermeab { background-position: 0px -80px; }
.cat-m-b.jardin, .cat-m-n.jardin { background-position: -76px -80px; }
.cat-m-b.limp, .cat-m-n.limp { background-position: -155px -80px; }
.cat-m-b.autos, .cat-m-n.autos { background-position: -620px 0px; }
.cat-m-b.pintu, .cat-m-n.pintu { background-position: -232px -80px; }
.cat-m-b.pisos, .cat-m-n.pisos { background-position: -310px -80px; }
.cat-m-b.plomer, .cat-m-n.plomer { background-position: -388px -80px; }
.cat-m-b.puert, .cat-m-n.puert { background-position: -460px -80px; }
.cat-m-b.cocin, .cat-m-n.cocin { background-position: 4px -162px; }
.cat-m-b.banos, .cat-m-n.banos { background-position: -75px -159px; }
.cat-m-b.tapicer, .cat-m-n.tapicer { background-position: -390px -159px; }
.cat-m-b.techos, .cat-m-n.techos { background-position: -544px -159px; }
.cat-m-b.mudan, .cat-m-n.mudan { background-position: -622px -80px; }
.cat-m-b.ventan, .cat-m-n.ventan { background-position: -463px 159px; }
.cat-p-b { background: url('tentu/generales/categorias-p-blanco.png') no-repeat top left;}
.cat-p-n { background: url('tentu/generales/categorias-p-negro.png') no-repeat top left;}