/* FORMULARIO DE EVALUACION */
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}


/* Color de seleccionados */
.rating > input:checked ~ label {
    color: yellow;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  /*
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
}

/* Color hover de no seleccionados */
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

/* Color hover de seleccionados *//*
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,/*
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,*/
.rating > label:hover ~ input:checked ~ label {
    color: yellow;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  /* 
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* EVALUACIONES EN PERFIL DE PROVEEDOR */
div#perfil div#evaluaciones .accordion-group, div#perfil div#evaluaciones .accordion-inner {border:0; border-radius:0; margin:0;}
div#perfil div#evaluaciones .accordion-group .accordion-heading {background:url('tentu/internas/titulo-evaluacion.png') repeat-y top right; background-position:12px 0px; height:66px; padding-left:25px; overflow:hidden;}
div#perfil div#evaluaciones .accordion-group .accordion-heading .accordion-toggle {padding:10px 5px}
div#perfil div#evaluaciones .accordion-group .accordion-heading a {color:black; display:block; text-decoration:none; }
div#perfil div#evaluaciones .accordion-group .accordion-heading .trabajo { display: table-cell; float:left; font-size: 1.15em; font-weight:bold; padding-top:0.25em; vertical-align: middle; width:68%;}
div#perfil div#evaluaciones .accordion-group .accordion-heading .trabajo .badge {display:none;}
div#perfil div#evaluaciones .accordion-group .accordion-heading .reputacion { display: inline-block; float:right; position:relative; top:5px; }
div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner { padding:5px 0px;}
div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner .comentarios p {background-color: #e9e9e9; border-radius:10px; margin:0px; min-height:75px; padding:10px;}
div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner .caracteristicas-evaluadas { text-align:right;}
div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner .caracteristicas-evaluadas .caracteristica {padding: 0px 1px 1px 0px;}
div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner .caracteristicas-evaluadas .nombre-caracteristica { display:inline-block; font-size:0.8em; font-weight:bold; padding-right:2px; vertical-align: middle;}
div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner .caracteristicas-evaluadas .reputacion { display: inline-block; vertical-align: middle; }
/* Dejar siempre debajo para sobreescribir en dispositivos */
@media screen and (min-width: 1200px) { 
  div#perfil div#evaluaciones .accordion-group .accordion-heading {background-position:12px 0px; height:66px; padding-left:30px; overflow:hidden;}

}
@media screen and (min-width: 980px) and (max-width: 1199px) { 
  div#perfil div#evaluaciones .accordion-group .accordion-heading {background-position:9px 0px; height:66px; padding-left:25px; overflow:hidden;}

}
@media screen and (min-width: 768px) and (max-width: 979px) { 
  div#perfil div#evaluaciones .accordion-group .accordion-heading {background-position:0px 0px; height:66px; padding-left:20px; overflow:hidden;}
  div#perfil div#evaluaciones .accordion-group .accordion-heading .trabajo {width: 59%; }
}

@media screen and (max-width: 767px) { 
  div#perfil div#evaluaciones .accordion-group .accordion-heading {background-position:-25px 0px; height:66px; padding-left:0px; overflow:hidden;}
  div#perfil div#evaluaciones .accordion-group .accordion-heading .trabajo {width: 56%; }
  div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner { padding-left:20px;}
}
@media screen and (max-width: 468px) { 
  div#perfil div#evaluaciones .accordion-group .accordion-body .accordion-inner { padding-left:20px;}
  div#perfil div#evaluaciones .accordion-group .accordion-heading .cat-p-n {display:none; }
  div#perfil div#evaluaciones .accordion-group .accordion-heading .trabajo {width: 100%; }
  div#perfil div#evaluaciones .accordion-group .accordion-heading .trabajo .badge {display:inline; }
  div#perfil div#evaluaciones .accordion-group .accordion-heading .reputacion {display:none; }
}