// Place all the styles related to the Mensajes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mensaje { margin:0.5em; padding:0.5em; width:80%; 
-o-border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-khtml-border-radius:10px;
border-radius:10px;
}
.mensaje p {margin-bottom:0px;}
.mensaje .comentario { clear:both; margin:0em 1em; }
.mensaje .leido {font-size:x-small;}
.mensaje time { display:block; font-size:x-small; margin: 0 1em; text-align:right; }
.mensaje-solicitante { /* background-color:#fcf8e3; border:1px solid #d1a964; color:#c09853; */ background-color: #D9EDF7; border:1px solid #6793a0; color: #3A87AD; }
.mensaje-proveedor { background-color:#dff0d8; border:1px solid #579957; color:#468847;}
.mensaje-tu {float:left;}
.mensaje-otro {float:right;}
