.reputacion { display:table;
-o-border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
border-radius:5px;
}
.reputacion .botones { }

.rep-general { background:url('tentu/internas/estrellas.png') repeat center bottom; height:32px; margin:0 auto; width:160px;}
.rep-general span { background:url('tentu/internas/estrellas.png') repeat left top; background-position-y:1px; display:block; height:32px; max-width:160px; }
.rep-general span i {display:none;}

.rep-proveedor { background:url('tentu/internas/estrellas-p.png') repeat center bottom; height:24px; margin:0 auto; width:120px;}
.rep-proveedor span { background:url('tentu/internas/estrellas-p.png') repeat left top; background-position-y:1px; display:block; height:24px; max-width:120px; }
.rep-proveedor span i {display:none;}

.rep-trabajo { background:url('tentu/internas/estrellas.png') repeat center bottom; height:32px; margin:0 auto; width:160px;}
.rep-trabajo span { background:url('tentu/internas/estrellas.png') repeat left top; background-position-y:1px; display:block; height:32px; max-width:160px; }
.rep-trabajo span i {display:none;}

.rep-caracteristica { background:url('tentu/internas/estrellas-p.png') repeat center bottom; height:24px; margin:0 auto; width:120px;}
.rep-caracteristica span { background:url('tentu/internas/estrellas-p.png') repeat left top; background-position-y:1px; display:block; height:24px; max-width:120px; }
.rep-caracteristica span i {display:none;}