.reputacion { background-color:#666; display:table;
-o-border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
border-radius:5px;
}
.reputacion span { background:url('tentu/internas/estrellas-p.png') repeat left top; background-position-y:1px; display:block; height:24px; max-width:120px; }
.reputacion span i {display:none;}
.reputacion .rep-proveedor { background:url('tentu/internas/estrellas-p.png') repeat center bottom; height:24px; margin:0 auto; width:120px;}
.reputacion .rep-proveedor .rep0_0 { width:0px; }
.reputacion .rep-proveedor .rep0_5 { width:12px; }
.reputacion .rep-proveedor .rep1_0 { width:24px; }
.reputacion .rep-proveedor .rep1_5 { width:36px; }
.reputacion .rep-proveedor .rep2_0 { width:48px; }
.reputacion .rep-proveedor .rep2_5 { width:60px; }
.reputacion .rep-proveedor .rep3_0 { width:72px; }
.reputacion .rep-proveedor .rep3_5 { width:84px; }
.reputacion .rep-proveedor .rep4_0 { width:96px; }
.reputacion .rep-proveedor .rep4_5 { width:108px; }
.reputacion .rep-proveedor .rep5_0 { width:120px; }
.reputacion .botones { }