// Place all the styles related to the solicitantes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* PANEL */
#menu-panel.well {background:#1B80C1;
-moz-box-shadow: inset 0 0 10em #2B598F;
-webkit-box-shadow: inset 0 0 10em #2B598F;
box-shadow:  inset 0 0 10em #2B598F;
}
#menu-panel img {margin:0.5em 2.5em;}
#menu-panel ul.nav-list {padding:0px;}
#menu-panel ul li { font-size:0.9em; line-height:1.25em; }
#menu-panel ul li.nav-header {color:white;}
#menu-panel ul li i { opacity:0.75; }
#menu-panel ul li a { text-shadow:none; }
#menu-panel ul li a:link, #menu-panel ul li a:visited { color:#ddd; }
#menu-panel ul li a:hover, #menu-panel ul li a:active { color:blue; }

@media screen and (max-width: 767px) {
  #menu-panel { margin-bottom:15px; }
} 