// Place all the styles related to the Trabajos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea { height:10em; max-width:90%;}
#solicitud-trabajo header { padding:1%;}
#solicitud-trabajo header p { font-size:0.9em; margin-bottom:0.45em;}
#solicitud-trabajo #descripcion { }
#solicitud-trabajo .form-actions { text-align:center; }

.presupuesto { background: #eee url('tentu/generales/fondopie.png') repeat-x center bottom; display:inline-block; margin:0.75em; text-align:center; 
-o-border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
-khtml-border-radius:20px;
border-radius:20px;

-moz-box-shadow: 1px 1px 5px #666;
-webkit-box-shadow: 1px 1px 5px #666;
box-shadow: 1px 1px 5px #666;
}
.presupuesto.destacado { background-color:#999;
/*-moz-box-shadow: inset 0 0 10em #fc3;
-webkit-box-shadow: inset 0 0 10em #fc3;
box-shadow:  inset 0 0 10em #fc3;*/
}
.presupuesto .proveedor-interesado { display:block;}

.separar-alrededor, .botones { margin:1em; }
