<% 
  content_for :title do 
    "¡Confirma tu correo!"
  end
%>
<p>&iexcl;Hola, <%= @resource.nombre %>!</p>

<p>Puedes confirmar tu correo a trav&eacute;s del siguiente enlace: <%= link_to 'confirmar mi cuenta', confirmation_url(@resource.perfilable_type, :confirmation_token => @resource.confirmation_token) %></p>

<p>
  Puedes hacerlo también colocando en tu navegador la siguiente direcci&oacute;n:<br>
  <%= link_to confirmation_url(@resource.perfilable_type, :confirmation_token => @resource.confirmation_token), confirmation_url(@resource.perfilable_type, :confirmation_token => @resource.confirmation_token) %>
</p>

<p>
	Si has recibido este correo en tu Bandeja de Correo no Deseado (SPAM), por favor marca la opción de "no es spam" de tu proveedor de correo para evitar que otros correos que te sean enviados no lleguen a tu Bandeja de Entrada.
</p>

<p>Por último, si no has solicitado este correo puedes ignorarlo o comunicarte con nosotros.</p>
