<% 
  content_for :title do 
    "¿Cambiarás tu clave?"
  end
	resource_type = @resource.perfilable_type.downcase
%>
<p>&iexcl;Hola!</p>

<p>
  Hemos recibido una solicitud de cambio de tu clave, para hacerlo puedes ingresar al siguiente enlace: 
  <%= link_to 'Cambiar mi clave', edit_password_url(resource_type, :reset_password_token => @resource.reset_password_token) %>.
</p>

<p>
  Si lo deseas, puedes hacerlo colocando en tu navegador la siguiente direcci&oacute;n:<br>
  <%= link_to edit_password_url(resource_type, :reset_password_token => @resource.reset_password_token), edit_password_url(resource_type, :reset_password_token => @resource.reset_password_token) %>
</p>

<p>
  Si no has realizado esta solicitud, ignora este mensaje. 
  Tu clave no cambiar&aacute; a menos que ingreses al enlace y coloques una nueva clave.
</p>
