<% 
  content_for :title do 
    "¡Tu cuenta está bloqueada!"
  end
	resource_type = @resource.perfilable_type.downcase
%>
<p>&iexcl;Hola!</p>

<p>Tu cuenta ha sido bloqueada por repetidos intentos fallidos de ingreso.</p>

<p>
  Para desbloquearla, ingresa en el siguiente enlace:
  <%= link_to 'Desbloquear mi cuenta', unlock_url(resource_type, :unlock_token => @resource.unlock_token) %>
</p>
