<% content_for :foot do %>
  <%= javascript_include_tag 'ubicaciones_geograficas' %>
  <%= javascript_include_tag 'solicitantes' %>
<% end %>
<%- model_class = Solicitante -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Editar perfil de #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
