<% content_for :foot do %>
  <%= javascript_include_tag 'ubicaciones_geograficas' %>
  <%= javascript_include_tag 'solicitantes' %>
  <script type="text/javascript">var _editando = false;</script>
<% end %>
<%- model_class = Solicitante -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "Perfil de #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
