<div style="background-color:#adeb6e; padding:1em; width:100%;">
	<div style="background-color:white; margin:1em auto; max-width:960px; ">
		<div style="min-height:180px; margin:25px auto -10px auto;">
			<div style="background: url('<%= image_path("tentu/generales/head.png") %>') no-repeat center top; margin-bottom:0px; min-height:170px; overflow:hidden; position:relative; top:-19px;">
		    	<div style="padding:1em;"><%= image_tag image_path("tentu/generales/logo_tentupresupuesto.png"), {:title => "TenTuPresupuesto", :alt => "TenTuPresupuesto"} %></div>
			</div>
	    </div>
	    <div style="padding:0 2em 1em 2em;">
	    	<h1 style="display: table; font-size:2em; margin:0 auto 1em auto; text-align:center;"><%= yield :title %></h1>
	    	<%= yield %>
	    	<p>Gracias por utilizar nuestros servicios.</p>
		</div>
		<div style="background-color:#f8a433; color:white; font-size: 2em; max-width:960px; padding:1em; text-align:center;">
			<b>TenTuPresupuesto</b>
	    </div>
  	</div>
</div>